<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar_brand">
      <%= current_company.name %>
    </div>
    <div class="navbar_name">
      <%= current_user.name %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn-dark" %>
  <% else %>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "btn btn-dark navbar_right" %>
  <% end %>
</header>